set show-all-if-ambiguous on
set visible-stats on

# Ignore case
set completion-ignore-case on
# on menu-complete, first display the common prefix, then cycle through the options when hitting TAB
#menu-complete-display-prefix on
$include /etc/inputrc
set editing-mode vi
$if mode=vi
set keymap vi-command
# these are for vi-command mode
"\e[A": history-search-backward
"\e[B": history-search-forward
set keymap vi-insert
# these are for vi-insert mode
"\e[A": history-search-backward
"\e[B": history-search-forward
$endif

set keymap vi-insert
"jj": vi-movement-mode
